.InputSelection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: var(--default-margin);
}

.label {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

.inputField {
  width: 100%;
  padding: var(--padding-small);
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  color: var(--primary-text-color);
  background-color: var(--input-bg-color);
  font-family: inherit;
}

.inputField:focus {
  outline: none;
  border-color: var(--secondary-accent-color-1);
  box-shadow: 0 0 0 2px var(--secondary-accent-color-2);
}
