@keyframes gradientLoop {
    0%, 100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.header {
    background: linear-gradient(45deg, #00A4CC, #8A2387, #E94057, #F27121);
    background-size: 200% 200%;
    animation: gradientLoop 10s ease infinite;
    color: black;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent; /* Add this line */
}

.header:hover {
    background: black;
    border-color: white;
}

.header:hover h1 {
    background: linear-gradient(45deg, #00A4CC, #8A2387, #E94057, #F27121);
    background-size: 200% 200%;
    animation: gradientLoop 10s ease infinite;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

h1 {
    margin-top: 3vw;
    margin-bottom: 3vw;
    font: 500 6vw/1.5 'Roboto', sans-serif;
}
