.LoginCardContainer {
    position: relative;
    display: flex;
    cursor: pointer;
}

.LoginCard {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #0062E6, #33AEFF); /* More vibrant gradient */
    text-align: right;
    padding: 20px;
    border-radius: 15px;
    font-size: 16px;
    color: lightgrey;
    border: 2px solid lightgrey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 150px;
    align-self: start;
    z-index: 0;
}


.userHeader {
    font-size: large;
}

.userImage {
    border: 2px solid lightgrey;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    user-select: none;
    -webkit-user-select: none;
    align-self: end;
}

.userInfo {
    flex-grow: 1;
    text-align: right;
    user-select: none;
    -webkit-user-select: none;
    color:white;
    z-index:2;
}

.SubText {
    font-size: xx-small;
    color: dimgrey;
}

.LoginCardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    border-radius: 15px;
}

.LoginCardContainer:hover .LoginCardOverlay {
    opacity: 1;
    border: 2px solid lightgrey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoutButton {
    position: absolute;
    background-color: transparent;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2; 
    transition: opacity 0.3s ease;
    font-size: x-large;
    pointer-events: none;
}


.LoginCardContainer:hover .logoutButton {
    opacity: 1;
}


.LoginCard span {
    color: white;
    z-index: 2; 
    position: relative;
}

@media screen and (max-width: 600px) {
    .LoginCard {
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    .userInfo {
        text-align: left;
        margin-top: 10px;
    }
}
