################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

node_modules/
build/
main.env

node_modules/.cache/default-development/2.pack
node_modules/.cache/default-development/5.pack
node_modules/.cache/default-development/2.pack
node_modules/.cache/default-development/5.pack
.DS_Store
prod.env
/.vs/jaze/FileContentIndex/01666b33-d586-42d9-b59d-4fa6ecd84973.vsidx
/.vs/jaze/FileContentIndex/084dc524-9baf-4e20-8e92-97e031add6bf.vsidx
/.vs/jaze/FileContentIndex/16871c5a-dc77-4950-823d-1eb8e5da05ea.vsidx
/.vs/jaze/FileContentIndex/9fd9439a-e687-43d3-923a-a3757e6475b5.vsidx
/.vs/jaze/FileContentIndex/fb1b3813-0b4a-42a1-aa78-19ab0ec742ff.vsidx
/node_modules/.cache/default-development/12.pack
/node_modules/.cache/default-development/2.pack
/node_modules/.cache/default-development/5.pack
/node_modules/.cache/default-development/8.pack
/.vs/jaze/FileContentIndex/cd9920f5-32f7-493b-b962-ec97cb4bfd64.vsidx
/.vs/jaze/v17/.wsuo
/.vs/slnx.sqlite
/.vs/jaze/FileContentIndex/939ae083-7a42-46d8-8681-01861ba5d82e.vsidx
