################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

node_modules/
build/
main.env

node_modules/.cache/default-development/2.pack
node_modules/.cache/default-development/5.pack
node_modules/.cache/default-development/2.pack
node_modules/.cache/default-development/5.pack
.DS_Store
