################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

node_modules/

/.vs
/build
/build/asset-manifest.json
/build/index.html
/build/static
/build/static/css
/build/static/js
/build/static/media

/node_modules
