@keyframes gradientLoop {
    0%, 100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 80%;
    margin: var(--sidebar-button-margin, 0px);
    padding: var(--sidebar-button-padding, 10px 20px);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--button-text-color, #FFFFFF);
    background-color: var(--sidebar-button-bg-color);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color var(--hover-transition, 0.3s ease), border-color var(--hover-transition, 0.3s ease);
    font-size: 2rem;
    border: 2px solid transparent; /* Add this line */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .button:hover {
        background: linear-gradient(45deg, #00A4CC, #8A2387, #E94057, #F27121);
        background-size: 200% 200%;
        animation: gradientLoop 2s ease infinite;
        color: var(--button-text-color, #FFFFFF);
        border-color: white; /* Update this line */
        transition: none;
        opacity: 0.7;
    }

@media screen and (max-width: 768px) {
    .button {
        width: auto;
        margin: var(--sidebar-button-margin, 0px) 10px;
        padding: 10px;
        font-size: 1rem;
        white-space: normal;
    }
}
