.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin: var(--sidebar-button-margin, 0px);
    padding: var(--sidebar-button-padding, 10px 20px);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--button-text-color, #FFFFFF);
    background-color: var(--sidebar-button-bg-color);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color var(--hover-transition, 0.3s ease), border-color var(--hover-transition, 0.3s ease);
    font-size: 2rem;
    border: 1px solid transparent;
}


    .button:hover {
        background-color: darken(var(--sidebar-button-bg-color), 50%); /* Make background slightly darker on hover */
        border-color: darken(var(--sidebar-button-bg-color), 50%); /* Optionally darken the border too */
    }

@media screen and (max-width: 768px) {
    .button {
        width: auto;
        margin: var(--sidebar-button-margin, 0px) 10px;
        padding: 10px;
        font-size: 1rem;
        padding-top: 10px;
        white-space: normal;
    }
}
