/* Co.module.css */

.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.contentWrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

}

.mainContent {
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
    align-text:center;
}
