.button {
    background-color: var(--secondary-accent-color-1); /* Bright blue, ensures contrast */
    color: var(--header-text-color); /* White, for readability */
    padding: var(--default-padding);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--hover-transition);
    display: inline-block;
    margin-top: var(--default-margin);
}
    .button:hover {
        background-color: var(--secondary-accent-color-2); /* Different color on hover for visual feedback */
    }
