.viewTitleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 20px 0 20px;
  align-self: center;
  padding-bottom: 30px;
  font-size: xx-large;
  h1 {
    border-radius: var(--border-radius);
    letter-spacing: 2px;
    font:
      500 6vw/1.5 var(--font-family),
      sans-serif;
  }
}
