.inputGroup {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 10px; /* Adjust the space between labels and inputs */
    margin-bottom: 10px;
    width: 100%; /* Ensure the input group takes up the full width of its container */
}

    .inputGroup label {
        display: flex;
        align-items: center;
        white-space: nowrap; /* Prevent the label from wrapping */
    }

.inputField {
    width: 100%; /* Ensure the input takes up the remaining space */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--input-border-color, #555);
    border-radius: var(--border-radius);
}

form {
    width: 60%;
}
