.inputTable {
    width: 100%;
    border-collapse: collapse;
}

.inputTable td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}

.table__cell {
    padding: var(--padding-small);
    text-align: left;
    vertical-align: middle;
}
form {
    width: 60%;
}


.inputGroup label {
    white-space: nowrap;
    font-family: var(--font-family);
    margin-bottom: var(--margin-small);
}

.inputfield {
    width: 100%;
    padding: var(--padding-medium);
    margin: var(--margin-small) 0;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    font-family: var(--font-family);
}

label {
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 768px) {
    .form {
        width: 100%; /* Full width on smaller screens */
    }
}