.aboutSection {
  padding: 1rem;
}

.iconTable {
  width: 100%;
  border-collapse: collapse;
}

.iconTable td {
  padding: 0.5rem;
  vertical-align: middle;
}

.errorMessage {
  color: red;
}
section {
  width: 60%;
  margin: 0 auto;
  padding: 0 var(--default-padding);
  width: 100%;
}
