/* About.module.css */
.aboutHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px 0 0;
}

.iconTable, .loginCardContainer {
    flex-basis: 50%;
}

.loginCardContainer {
    display: flex;
    justify-content: flex-end; 
}

.iconTable {
    width: auto; 
}
