.aboutSection {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    padding: var(--default-padding);
    border-radius: var(--border-radius);
    margin-left: var(--default-margin);
    margin-top: var(--default-margin);
    min-height: 100vh;
    display: flex; /* This will allow you to use flexbox for alignment */
    flex-direction: column; /* Organizes children vertically */
    align-items: center; /* Centers children horizontally */
}

.aboutTable {
    width: auto; /* Takes as much space as it needs */
    margin-top: var(--default-margin);
    border-collapse: collapse;
    border: none; /* Ensures table has no border */
}

    .aboutTable td, .aboutTable th {
        padding: var(--default-margin);
        border: none; /* Explicitly removes borders from cells */
        vertical-align: bottom; /* Aligns content to the bottom of the cell */
        text-align: left; /* Aligns content to the left of the cell */
    }

    .aboutTable th {
        background-color: var(--sidebar-bg-color);
        color: var(--header-text-color);
    }
