.albumCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 25px 20px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: navajowhite;
  border: solid 2px white;
}
.albumImage {
  border-radius: 30px;
  opacity: 0.8;
}
.caption {
  padding-top: 10px;
  font-size: large;
}
