/* Footer.module.css */
footer {
    background-color: var(--footer-bg-color, #333);
    color: var(--footer-text-color, #fff);
    text-align: center;
    font-size: var(--footer-font-size, 0.625rem);
    padding: var(--footer-padding, 1.25rem) 0;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0px;
    margin-top: 10px;
    border-radius: var(--border-radius);
    font-family: 'Roboto', sans-serif;
}
