.table {
  border-collapse: separate;
  width: calc(100% - 20px);
  padding: 20px;
  background-color: var(--sidebar-bg-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cell {
  text-align: left;
  vertical-align: middle;
  position: center;
  padding: 5px;
  padding-top:15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}



@media (max-width: 768px) {
  .table {
    width: calc(100% - 10px);
    margin: 5px;
  }
}

.boldText {
  font-weight: bold;
}
