.viewFrame {
  display: flex;
  outline: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 20px;
  overflow: hidden;
  margin: 10px;
  justify-content: center;
  width: 100%;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f4a261;
  border: solid 4px white;
}

.empty {
  outline: none;
  box-shadow: none;
}
