@keyframes gradientLoop {
    0%, 100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.userCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #1DB954, #9B59B6, #D51007);
    background-size: 200% 200%;
    animation: gradientLoop 5s ease infinite;
    padding: 25px 20px;
    border: 1px black solid;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: navajowhite;
    border: solid 2px white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.userImage {
    padding-bottom: 10px;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    padding-top:5px;
    display: flex;
    align-items: center;
    font-size: large;
    justify-content: flex-start;
    width: 100%;
}

.link {
    padding-left:5px;
    color: white;
    text-decoration: none;
}

    .link:hover {
        text-decoration: none;
    }
