@font-face {
  font-family: "Roboto";
  src: url("./resources/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./resources/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./resources/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./resources/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./resources/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./resources/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

:root {
    --primary-bg-color: #1a1a1a;
    --primary-text-color: #f4e4a2;
    --header-bg-color: #ff4242;
    --header-text-color: #fff;
    --footer-bg-color: #212121;
    --footer-text-color: #f4e4a2;
    --sidebar-bg-color: #313131;
    --secondary-accent-color-1: #42a5f5;
    --secondary-accent-color-2: #ba68c8;
    --text-highlight-color: #ffeb3b;
    --error-color: #e57373;
    --warning-color: #ffb74d;
    --success-color: #81c784;
    --input-bg-color: #2c2c2c;
    --input-border-color: #555;
    --default-padding: 20px;
    --default-margin: 10px;
    --padding-small: 8px;
    --padding-medium: 10px;
    --margin-small: 5px;
    --font-family: "Roboto", sans-serif;
    --font-size-base: 16px;
    --font-size-l: 24px;
    --font-size-xl: 32px;
    --line-height-base: 1.5;
    --line-height-tight: 1.2;
    --sidebar-width: 30vw;
    --border-radius: 4px;
    --hover-transition: all 0.3s ease;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --line-height-base: 1.8;
    --line-height: 1.6;
}

@media (max-width: 768px) {
  :root {
    --sidebar-width: 100%;
    --default-padding: 15px;
    --default-margin: 8px;
    --font-size-base: 14px;
  }
}

table {
  border-collapse: separate;
}

td,
th {
  text-align: left;
  vertical-align: middle;
  border: none;
  justify-content: left;
}

@media (max-width: 768px) {
  table {
    border-spacing: 0 5px;
  }

  td,
  th {
    padding: 10px;
  }
}

h2 {
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: middle;
  font-size: 100px;
}
td {
  padding-right: 50px;
  padding-bottom: 20px;
}
td svg {
  padding-right: 20px;
}
.dark-mode {
    background-color: black;
}

.light-mode {
    background-color: grey;
}
