.settingsSection {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    padding: var(--default-padding);
    border-radius: var(--border-radius);
    margin-left: var(--default-margin);
    margin-top: var(--default-margin);
    min-height: 100vh;
}

.settingsTable {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
}

    .settingsTable td, .settingsTable th {
        padding: var(--default-padding);
        border-bottom: 1px solid var(--footer-bg-color);
    }

.button {
    background-color: var(--button-bg-color);
    color: var(--header-text-color);
    padding: 10px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--hover-transition);
}

    .button:hover {
        background-color: var(--button-hover-bg-color);
    }

.label {
    display: block;
    margin-bottom: var(--default-margin);
    color: var(--primary-text-color);
}
